#full{
    width: 100%;
    height: auto;
}
#inner_full{
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 3em;
    border-radius: 2em;
   
}
#header{
    width: 100%;
    height: 4em;
    background-color: red;
    color: rgb(241, 238, 238);
    border-radius: 10px;
    text-align: center;
    padding-top: 3px;
}

#body{
    width: 100%;
    height: 400px;
}
#footer{
    width: 100%;
    height: 50px; 
    background-color: red;
    color: white;
    border-radius: 7px;
    text-align: center;
    padding-top: 2px;
}