* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size:40PX;
    color: white;
}

header {
    padding: 40px;
    background-color:#ea3e4f;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
.veeresh{
    float: right;
    margin-right: 35px;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color:#dfe9f2;
}
section:nth-child(1){
    background: url("ci.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: calc(140vw);
    overflow: hidden;
}
.quote{
    padding-top: 20px;
    font-size:large;
    color: black;
    min-height:50vh;
   
}

section {
    min-height: 100vh;
    overflow: hidden;
}

video {
    padding: 10px;
}

#iframe {
    height: 5vh;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
}


section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
    height: 40vh;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
.button {
    border: none;
    border-radius: 20px;
    background-color: #ea3e4f;
    color: rgb(245, 238, 238);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: #5ded97;
    color: white;
  }


  @media (max-aspect-ratio:16/9){
    .myvid{
        width: auto;
        height: auto;
    }
  
  }

  